

.header-container {
    background: lightgray;
    display: block;
    width: 100%;
    height: 15em;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-container h1 {
    margin-left: 2em;
    padding-left: 16px;
    font-size: 3em;
    color: darkblue;
}
